fastapi
uvicorn
python-dotenv
openai
langchain
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
docling
python-multipart
rapidocr 
onnxruntime
rapidocr-onnxruntime
redis
rq
pinecone
boto3
transformers<5
